{% extends "base.html "%}
{% load static %}
{% block title %}
    <title>{{bar}}</title>
{% endblock title %}
{% block content %}
    <!--<img style="width: 100%" src="{% static 'blog/img/banner_tampil.png' %}" alt="">
    
    <h1>{{judul}}</h1>
-->
    <table class="table table-striped" border="2" style="width: 100%;">
        <thead style="text-align: center;">
            <tr>
                <th>NAMA</th>
                <th>SATKER</th>
                <th>RUANGAN</th>
                <th>WAKTU</th>
                <th>KETERANGAN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for menu in form %}
                <td>{{menu.nama}}</td>
                <td>{{menu.satker}}</td>
                <td>{{menu.ruangan}}</td>
                <td>{{menu.waktu}}</td>
                <td>{{menu.keterangan}}</td>
                
            </tr> 
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}